@media screen and (max-width: 1147px) {
  .working-section .card-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .working-section .card-item:nth-child(3n)::after {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .hamburger {
    cursor: pointer;
  }
  .hamburger .line {
    height: 4.5px;
    display: block;
    width: 30px;
    background-color: #ed1c24;
    margin: 5px 0px;
    transition: all 0.5s linear;
  }
  body.open-menu {
    overflow: hidden;
  }
  body.open-menu .line:nth-child(2) {
    opacity: 0;
  }
  body.open-menu .line:nth-child(1) {
    transform: translateY(6.5px) rotate(45deg);
  }
  body.open-menu .line:nth-child(3) {
    transform: translateY(-11.5px) rotate(-45deg);
  }
  .navbar-nav {
    display: none;
    position: fixed;
    background-color: #fff;
    width: 300px;
    bottom: 0;
    transition: all 0.5s;
    overflow: auto;
    text-align: left;
    padding: 20px;
  }
  body.open-menu .navbar-nav {
    display: block;
    right: -1px;
  }
  .navbar-nav .link-container ul {
    display: inline-block;
    width: 100%;
  }
  .navbar-nav li {
    padding: 8px 0;
  }
  .navbar-nav li a:hover {
    color: #ed1c24;
    border: 1px solid transparent;
  }
}
@media screen and (max-width: 991px) {
  .upper-header .container {
    justify-content: center;
  }
  .banner-section .services-row .img-wrap {
    width: 40px;
    height: 40px;
  }
  .banner-section .services-row p {
    font-size: 15px;
  }
  .service-block .inner-row {
    gap: 20px;
  }
  .card-item {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 10px;
  }

  .working-section .card-item p {
    font-size: 16px;
  }
  .service-wrapper .inner-col span {
    font-size: 14px;
  }
  .service-wrapper .service-row .feature {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .service-wrapper .service-row {
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .phone-icon-link {
    padding-right: 5px;
  }
  .phone-icon-link img {
    width: 80%;
    height: 80%;
  }
  .hamburger .line {
    height: 4px;
    width: 25px;
    margin: 4.5px 0px;
  }
  body.open-menu .line:nth-child(1) {
    transform: translateY(7.5px) rotate(45deg);
  }
  body.open-menu .line:nth-child(3) {
    transform: translateY(-9.5px) rotate(-45deg);
  }
  .banner-wrapper {
    min-height: auto;
  }
  .banner-section h1 {
    font-size: 54px;
  }
  .banner-section p {
    font-size: 18px;
  }
  .services-row {
    justify-content: space-around;
    gap: 15px;
    margin-top: 0;
  }

  .title {
    font-size: 45px;
    line-height: 52px;
    margin-bottom: 28px;
  }
  .btn {
    font-size: 20px;
    width: 200px;
    height: 50px;
  }
  .btn-wrap {
    margin-top: 30px;
  }

  .rating-section .btn {
    width: 150px;
    height: 50px;
  }
  .rating-section p {
    font-size: 42px;
    line-height: 50px;
  }
  .working-section .card-item::after {
    width: 40px;
    right: -20px;
  }
  .working-section .card-item {
    padding: 0 20px;
  }

  .card-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }
  .service-wrapper {
    padding: 20px 30px;
  }

  .about-section h4 {
    font-size: 22px;
  }

  .location-content {
    margin-bottom: 10px;
  }

  .review-section .content h4 {
    text-align: center;
  }
  .media-body .content-wrap {
    justify-content: center;
    gap: 8px;
  }

  .footer {
    padding: 12px 0;
  }
  .footer-upper-content p {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
  .footer .icons-block {
    justify-content: center;
    margin-top: 10px;
  }
  .footer .icon .img-wrap {
    width: 35px;
    height: 35px;
  }
  .footer-lower-content .copyright-col p {
    font-size: 10px;
    line-height: 12px;
    text-align: center;
  }
  .footer-lower-content .custom-col p {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
  }
}
@media screen and (max-width: 567px) {
  section {
    padding: 45px 0;
  }
  p {
    font-size: 16px;
    line-height: 22px;
  }
  .header-content p {
    font-size: 15px;
    text-align: center;
  }
  .icon .img-wrap {
    width: 30px;
    height: 30px;
  }

  .navbar .logo {
    max-width: 150px;
  }
  .hamburger .line {
    height: 3.5px;
    width: 23px;
    background-color: #ed1c24;
    margin: 4px 0px;
    transition: all 0.5s linear;
  }
  body.open-menu .navbar-nav {
    right: 0px;
  }
  body.open-menu .line:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  body.open-menu .line:nth-child(3) {
    transform: translateY(-8.5px) rotate(-45deg);
  }
  body.open-menu .navbar-nav {
    width: 100%;
  }
  .navbar-nav li {
    padding: 8px 0;
    text-align: center;
  }
  .banner-section h1 {
    font-size: 50px;
  }
  .banner-section p {
    font-size: 16px;
  }
  .services-row {
    gap: 10px;
  }
  .service-block .inner-row {
    gap: 12px;
  }
  .card-block h3 {
    font-size: 20px;
  }
  .card-block p {
    font-size: 16px;
  }
  .title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 26px;
  }
  .btn {
    font-size: 18px;
    width: 180px;
    height: 45px;
  }
  .btn-wrap {
    margin-top: 27px;
  }

  .rating-section .btn {
    width: 140px;
    height: 45px;
  }
  .rating-section p {
    font-size: 40px;
    line-height: 40px;
  }

  .working-section .card-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .working-section .card-item:nth-child(2n)::after {
    display: none;
  }
  .working-section .card-item:nth-child(3n)::after {
    display: block;
  }
  .location-area-title {
    font-size: 25px;
  }
  .location-text .value {
    font-size: 16px;
  }
  .service-wrapper .service-row .feature {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .about-section h4 {
    font-size: 20px;
  }
  .up-arrow-link {
    width: 30px;
    height: 30px;
    bottom: 30px;
    right: 15px;
  }
}
@media screen and (max-width: 480px) {
  section {
    padding: 30px 0;
  }
  p {
    font-size: 14px;
    line-height: 20px;
  }
  .header-content p {
    font-size: 12px;
  }
  .banner-section h1 {
    font-size: 36px;
  }
  .services-row {
    gap: 6px;
  }
  .service-block .inner-row {
    gap: 10px;
  }
  .banner-section .services-row .img-wrap {
    width: 35px;
    height: 35px;
  }
  .banner-section .services-row p {
    font-size: 13px;
  }
  .title {
    font-size: 33px;
    line-height: 48px;
    margin-bottom: 20px;
  }
  .card-block h3 {
    font-size: 18px;
  }
  .card-block p {
    font-size: 14px;
  }
  .btn {
    font-size: 16px;
    width: 170px;
    height: 40px;
  }
  .btn-wrap {
    margin-top: 25px;
  }
  .rating-section .inner-row img {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .rating-section .inner-row {
    text-align: center;
  }
  .rating-section .btn {
    width: 120px;
    height: 40px;
  }
  .rating-section p {
    font-size: 35px;
    line-height: 38px;
  }
  .working-section .card-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .working-section .card-item::after {
    display: none;
  }
  .working-section .card-item:nth-child(3n)::after {
    display: none;
  }
  .location-text .value {
    font-size: 14px;
  }
  .about-section h4 {
    font-size: 18px;
  }
  .service-wrapper .feature img {
    width: 15px;
    height: 15px;
    top: 5px;
  }
  .service-wrapper .inner-col span {
    font-size: 13px;
    line-height: 20px;
    color: #454544;
  }
}
@media screen and (max-width: 375px) {
  .header-wrapper .icons-block {
    flex-wrap: wrap;
    align-items: center;
  }
  .services-row {
    justify-content: start;
  }
}
