@font-face {
    font-family: 'calibri';
    src: url('calibri.eot');
    src: url('calibri.eot?#iefix') format('embedded-opentype'),
        url('calibri.woff2') format('woff2'),
        url('calibri.woff') format('woff'),
        url('calibri.ttf') format('truetype'),
        url('calibri.svg#calibri') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'calibri';
    src: url('calibri-light.eot');
    src: url('calibri-light.eot?#iefix') format('embedded-opentype'),
        url('calibri-light.woff2') format('woff2'),
        url('calibri-light.woff') format('woff'),
        url('calibri-light.ttf') format('truetype'),
        url('calibri-light.svg#calibri-light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'calibri';
    src: url('calibri-italic.eot');
    src: url('calibri-italic.eot?#iefix') format('embedded-opentype'),
        url('calibri-italic.woff2') format('woff2'),
        url('calibri-italic.woff') format('woff'),
        url('calibri-italic.ttf') format('truetype'),
        url('calibri-italic.svg#calibri-italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'calibri';
    src: url('calibri-bold.eot');
    src: url('calibri-bold.eot?#iefix') format('embedded-opentype'),
        url('calibri-bold.woff2') format('woff2'),
        url('calibri-bold.woff') format('woff'),
        url('calibri-bold.ttf') format('truetype'),
        url('calibri-bold.svg#calibri-bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

